@import url('http://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: url('./assets/site/mapblue.jpg');
    background-color: aqua;
    background-repeat: no-repeat;
    background-attachment: fixed;
   /* background-size: 100vw;˛*/
    font-family: 'Oswald', sans-serif;
}

/* BASICS */

.wrapper{
    display: flex;
    align-items: stretch;
    height: 100%;
}

main{
    width: 80%;
    height: 100%;

}

.sidebar{
    width: 20%;
    background-color: rgb(74, 74, 74);

    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    align-items: stretch;
}

.activeSidebar{
    transition: all 1s;
    transform: translateX(500px);
}

/* SIDEBAR */

header{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    gap: 10px;
}

header p{
    font-family: "Game of Thrones"
}

.fa-bars{
    cursor: pointer;
}

.activeMenu{
    position: sticky;
    border: 10px solid rgb(74, 74, 74);
    background-color:rgb(74, 74, 74); ;
    border-radius: 100%;
    transform: translateX(-240px);
}

.content{
    height: 90vh;
    display: flex;
    flex-direction: column;
   
}

.sidebarPicture{
    border-radius: 8px;
}

.nameWithLogo{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.content p{
    margin: 10px 0;
    font-weight: lighter;
}

.search{
    display: flex;
    justify-content: space-around;
    height: 30px;
}

input{
    padding: 3px;
    border: 0;
    height: 30px;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
}

input:focus-visible {
    outline: none
}
.fa-chevron-right{
    margin: 0;
    height: 30px;
    width: 30px;
    padding: 5px;
    color: white;
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-magnifying-glass{
    background-color: white;
    color: gray;
    margin: 0;
    padding: 5px;
    height: 30px;
}

/* MAIN CONTAINER */

main{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.row__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 11%;
    justify-content: center;
    align-items: stretch;
}

.row__item img{
    max-width: 80px;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity .5s;
}

.row__item img:hover, .row__item p:hover{
    opacity: .7;
}

.row__item img:active, .row__item p:active{
    opacity: .4;
}

.active{
    opacity: .7;
}

.row__item p{
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition: opacity .5s;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 1100px) {
    .row__item{
        width: 15%;
    }
    main{
        width: 70%;
    }
    
    .sidebar{
        width: 30%;
  }
}

@media screen and (max-width: 992px) {
    .row__item{
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .row__item{
        width: 25%;
    }
    .nameWithLogo{
        flex-direction: column;
        max-width: 30px;
        gap: 10px;
    }
}

@media screen and (max-width: 576px) {
    .sidebar{
        width: 60%;
    }
    main{
        width: 50%;
    }
    .row__item{
        width: 80%;
    }

}


